<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/components/header.css">
    <link rel="stylesheet" href="./css/components/footer.css">
    <link rel="stylesheet" href="./css/components/loader.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer">
    block head
</head>
<div id="app">
    <header class="common-header">
        <nav class="navbar">
            <div class="navbar-content-container">
                <div class="logo"><a class="logo__link" href="https://www.amd.com/en"><img class="logo__icon" src="./assets/icons/header-logo.svg"></a></div>
                <ul class="nav">
                    <li class="nav__item">Products</li>
                    <li class="nav__item">Solutions</li>
                    <li class="nav__item">Downloads &amp; Support</li>
                    <li class="nav__item">Shop</li>
                </ul>
                <div class="filler"></div>
                <ul class="nav-icons">
                    <li class="nav-icons__item"><i class="nav-icons__icon icon fass fa-globe fa"></i></li>
                    <li class="nav-icons__item"><i class="nav-icons__icon icon fass fa-magnifying-glass fa"></i></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="common-main">
        block content
    </main>
    <footer class="common-footer">
        <div class="container">
            <div class="row top-menu">
                <div class="col subscribe">
                    <div class="subscribe__accordion accordion"><button class="accordion__btn">Subscribe to the latest news from AMD<img class="accordion__icon" src="./assets/icons/accordion-down.svg"></button></div>
                    <div class="subscribe__form-wrapper form-wrapper">
                        <form class="subscribe__form">
                            <div class="subscribe-form__field form-field"><label class="subscribe-form__label is-required" for="email">Email Address</label><input class="subscribe-form__input" name="email"></div>
                            <div class="subscribe-form__field form-field"><label class="subscribe-form__label is-required" for="country">Location/Region</label><input class="subscribe-form__input" name="country"></div><button class="subscribe-form__submit-btn form-submit-btn" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <ul class="social-menu">
                        <li><a class="social-menu__link" href="http://www.facebook.com/amd"><i class="social-menu__icon fa-brands fa-facebook-f"></i></a></li>
                        <li><a class="social-menu__link" href="https://twitter.com/amd"><i class="social-menu__icon fa-brands fa-twitter"></i></a></li>
                        <li><a class="social-menu__link" href="https://www.instagram.com/amd"><i class="social-menu__icon fa-brands fa-instagram"></i></a></li>
                        <li><a class="social-menu__link" href="https://www.linkedin.com/company/amd"><i class="social-menu__icon fa-brands fa-linkedin-in"></i></a></li>
                        <li><a class="social-menu__link" href="https://www.amd.com/en/corporate/subscriptions"><i class="social-menu__icon fa-regular fa-envelope"></i></a></li>
                        <li><a class="social-menu__link" href="https://www.youtube.com/user/amd"><i class="social-menu__icon fa-brands fa-youtube"></i></a></li>
                        <li><a class="social-menu__link" href="https://www.twitch.tv/amd"><i class="social-menu__icon fa-brands fa-twitch"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row bottom-menu">
                <div class="copyright">&copy; 2023 Advanced Micro Devices, Inc</div>
            </div>
        </div>
    </footer>
    <div class="loading loading-page"></div>
</div>
<script src="./scripts/header.js"></script>
<script src="./scripts/footer.js"></script>
