extends base_layout

block head
	<link rel="stylesheet" href="./css/main.css">
	<title>AMD ׀ together we advance_</title>

block content
	<div class="field field-1">
		<div class="video-bg-container">
			<video preload="" autoplay="" loop="">
				<source src="https://download.amd.com/video/ces-homepage-1920x600.mp4">
			</video></div>
		<div class="video-outer-wrapper">
			<div class="video-outer">
				<div class="video-outer__col">
					<h2 class="video-outer__title">together we advance</h2>
					<div class="video-outer__desc">
						<h3>Learn how AMD is powering next-generation experiences and pushing the limits of innovation to tackle some of the world&rsquo;s toughest challenges. Watch the replay of the 2023 CES Keynote delivered by AMD Chair and CEO, Dr. Lisa Su&shy;</h3>
					</div><a class="video-outer__btn btn" href="/together_we_advance">Watch replay</a>
				</div>
				<div class="col"></div>
			</div>
		</div>
	</div>
	<div class="field field-2 paragraph">
		<div class="col">
			<div class="field-2__media"><img src="./assets/images/change-how-you-game.png"></div>
			<div class="content">
				<h2 class="field-2__title">Change How You Game</h2>
				<div class="field-2__desc"><a href="/new_ryzen_presentation">AMD Ryzen&trade; 7000 Series Desktop Processors</a></div><a class="field-2__btn btn" href="https://www.amd.com/en/where-to-buy/ryzen-series-processors">Find Retailers</a>
			</div>
		</div>
		<div class="col">
			<div class="field-2__media"><img src="./assets/images/play-it-all-with-ryzen-and-radeon.png"></div>
			<div class="content">
				<h2 class="field-2__title">Play It All with Ryzen&trade; and Radeon&trade;</h2>
				<div class="field-2__desc">
					<p>Bfieldse preconfigured systems from our partners.</p>
				</div><a class="field-2__btn btn" href="https://www.amd.com/en/where-to-buy/ryzen-radeon-system-integrators">Learn More</a>
			</div>
		</div>
		<div class="col">
			<div class="field-2__media"><img src="./assets/images/breakthrough-performance.webp"></div>
			<div class="content">
				<h2 class="field-2__title">Breakthrough Performance</h2>
				<div class="field-2__desc"><a href="https://www.amd.com/en/graphics/radeon-rx-graphics">AMD Radeon&trade; RX 7000 Series graphics cards</a></div><a class="field-2__btn btn" href="https://www.amd.com/en/where-to-buy/radeon-rx-graphics">Find Retailers</a>
			</div>
		</div>
	</div>
	<div class="field field3 paragraph">
		<div class="col"></div>
		<div class="col">
			<div class="content">
				<div class="field3__title">
					<h2 class="left-side-title">together we advance</h2>
					<h2 class="right-side-title">cloud security</h2>
				</div>
				<div class="field3__desc">
					<p>Google Cloud Confidential Computing, powered by AMD. World class security to advance business without sacrificing performance.</p>
				</div><a class="field3__btn btn" href="https://www.amd.com/en/solutions/google-cloud-confidential-computing">Learn More</a>
			</div>
		</div>
	</div>
	<div class="field field4 paragraph">
		<div class="col">
			<div class="media"><img src="./assets/images/meet-4th-gen-amd-epyc-server-processors.jpg"></div>
			<div class="content">
				<h2 class="title">Meet 4th Gen AMD EPYC&trade; Server Processors</h2>
				<div class="desc">
					<p>See how AMD EPYC&trade; 9004 Series server processors are advancing enterprise data center performance and efficiency.</p>
				</div><a class="field4__btn btn" href="https://www.amd.com/en/events/epyc4">Learn More</a>
			</div>
		</div>
		<div class="col">
			<div class="media"><img src="./assets/images/amd-instinct.jpg"></div>
			<div class="content">
				<h2 class="title">Bringing Exascale-Class Technologies to Mainstream HPC &amp; AI</h2>
				<div class="desc">
					<p>Introducing AMD Instinct&trade; MI210 Accelerator</p>
				</div><a class="field4__btn btn" href="https://www.amd.com/en/graphics/instinct-server-accelerators">Learn More</a>
			</div>
		</div>
	</div>
