extends base_layout

block head
    <link rel="stylesheet" href="./css/pages/new_ryzen.css">
    <title>AMD Ryzen™ 7000 Series Desktop Processors | AMD</title>

block content
    <div class="field field-1">
        <div class="field-1__header">
            <h1>AMD Ryzen&trade; 7000 Series Desktop Processors</h1>
        </div>
    </div>
    <div class="field field-2">
        <div class="col field-2__desc-content">
            <h2 class="field-2__paragraph-1">Now Available: The Revolutionary AMD Ryzen&trade; 9 7950X3D &amp; AMD Ryzen&trade; 9 7900X3D</h2>
            <h3 class="field-2__paragraph-2">The fastest gaming processors in the world.<sup>1&nbsp;</sup></h3>
            <div class="field-2__paragraph-3"><img src="./assets/images/amd-ryzen-7000-series-logo-80t.webp"></div><a class="field-2__btn btn" href="https://www.amd.com/en/where-to-buy/ryzen-series-processors">Find Retailers</a>
        </div>
        <div class="col field-2__media-content"><img src="./assets/images/1728141-amd-ryzen-3d-vcache-9-right-1260x709.webp"></div>
    </div>
    <div class="field field-3">
        <div class="col">
            <div class="field-3__media"><img src="./assets/images/1268900-3d-vcache-technology-1260x709.webp"></div>
            <div class="content">
                <h2 class="field-3__title">Exclusive AMD 3D V-Cache&trade; Technology</h2>
                <h3 class="field-3__subtitle">The Ultimate Gaming Hardware</h3>
                <div class="field-3__desc">
                    <p>AMD 3D V-Cache&trade; technology delivers a huge game performance advantage with up to 144MB of on-chip memory,
                        coming soon to three new AMD Ryzen 7000 Series processors.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="field-3__media"><img src="./assets/images/956672-energy-efficient-1260x709.webp"></div>
            <div class="content">
                <h2 class="field-3__title">Leadership Efficiency</h2>
                <h3 class="field-3__subtitle">With Eco-Mode and New Low-Power Models</h3>
                <div class="field-3__desc">
                    <p>AMD Ryzen&trade; 7000 series processors can deliver up to 49% more performance at the same power as last gen.
                        Use even less power with AMD&rsquo;s exclusive Eco-Mode, or choose one of the new low-power 65W models in the lineup.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="field-3__media"><img src="./assets/images/10788-ryzen-master-image-1260x709.webp"></div>
            <div class="content">
                <h2 class="field-3__title">Unlocked for Overclocking</h2>
                <h3 class="field-3__subtitle">Control your processing power</h3>
                <div class="field-3__desc">
                    <p>Tweak and tune your AMD Ryzen processor for personalized performance easily with one-click Precision Boost Overdrive,
                        or do it manually with the robust AMD Ryzen Master utility.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="field field-4">
        <h2 class="field-4__header">Specifications</h2>
        <div class="table-wrapper">
            <table class="field-4__table specifications-table" cellspacing="16" align="right">
                <thead align="left">
                    <tr>
                        <th class="field-4__table-header-column">MODEL</th>
                        <th class="field-4__table-header-column">GRAPHICS MODEL</th>
                        <th class="field-4__table-header-column"># OF CPU CORES</th>
                        <th class="field-4__table-header-column"># OF THREADS</th><!-- TODO: detail info tooltip-->
                        <th class="field-4__table-header-column">MAX. BOOST CLOCK</th>
                        <th class="field-4__table-header-column">BASE CLOCK</th>
                        <th class="field-4__table-header-column">THERMAL SOLUTION (PIB)</th>
                        <th class="field-4__table-header-column">GRAPHICS CORE COUNT</th>
                        <th class="field-4__table-header-column">DEFAULT TDP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="field-4__table-column"><a class="table-link link" href="https://www.amd.com/en/products/apu/amd-ryzen-9-7950x3d">AMD Ryzen&trade; 9 7950X3D-9-7950x3d</a></td>
                        <td class="field-4__table-column">AMD Radeon&trade; Graphics</td>
                        <td class="field-4__table-column">16</td>
                        <td class="field-4__table-column">32</td>
                        <td class="field-4__table-column">Up to 5.7GHz</td>
                        <td class="field-4__table-column">4.2GHz</td>
                        <td class="field-4__table-column">Not Included</td>
                        <td class="field-4__table-column">2</td>
                        <td class="field-4__table-column">120W</td>
                    </tr>
                    <tr>
                        <td class="field-4__table-column"><a class="table-link link" href="https://www.amd.com/en/products/cpu/amd-ryzen-9-7950x">AMD Ryzen&trade; 9 7950X</a></td>
                        <td class="field-4__table-column">AMD Radeon&trade; Graphics</td>
                        <td class="field-4__table-column">16</td>
                        <td class="field-4__table-column">32</td>
                        <td class="field-4__table-column">Up to 5.7GHz</td>
                        <td class="field-4__table-column">4.5GHz</td>
                        <td class="field-4__table-column">Not included</td>
                        <td class="field-4__table-column">2</td>
                        <td class="field-4__table-column">170W</td>
                    </tr>
                    <tr>
                        <td class="field-4__table-column"><a class="table-link link" href="https://www.amd.com/en/products/apu/amd-ryzen-9-7900x3d">AMD Ryzen&trade; 9 7900X3D</a></td>
                        <td class="field-4__table-column">AMD Radeon&trade; Graphics</td>
                        <td class="field-4__table-column">12</td>
                        <td class="field-4__table-column">24</td>
                        <td class="field-4__table-column">Up to 5.6GHz</td>
                        <td class="field-4__table-column">4.4GHz</td>
                        <td class="field-4__table-column">Not included</td>
                        <td class="field-4__table-column">2</td>
                        <td class="field-4__table-column">120W</td>
                    </tr>
                    <tr>
                        <td class="field-4__table-column"><a class="table-link link" href="https://www.amd.com/en/products/cpu/amd-ryzen-9-7900x">AMD Ryzen&trade; 9 7900X</a></td>
                        <td class="field-4__table-column">AMD Radeon&trade; Graphics</td>
                        <td class="field-4__table-column">12</td>
                        <td class="field-4__table-column">24</td>
                        <td class="field-4__table-column">Up to 5.6GHz</td>
                        <td class="field-4__table-column">4.7GHz</td>
                        <td class="field-4__table-column">Not included</td>
                        <td class="field-4__table-column">2</td>
                        <td class="field-4__table-column">170W</td>
                    </tr>
                    <tr>
                        <td class="field-4__table-column"><a class="table-link link" href="https://www.amd.com/en/products/apu/amd-ryzen-9-7900">AMD Ryzen&trade; 9 7900</a></td>
                        <td class="field-4__table-column">AMD Radeon&trade; Graphics</td>
                        <td class="field-4__table-column">12</td>
                        <td class="field-4__table-column">24</td>
                        <td class="field-4__table-column">Up to 5.4GHz</td>
                        <td class="field-4__table-column">3.7GHz</td>
                        <td class="field-4__table-column">AMD Wraith Prism</td>
                        <td class="field-4__table-column">2</td>
                        <td class="field-4__table-column">65W</td>
                    </tr>
                    <tr>
                        <td class="field-4__table-column"><a class="table-link link" href="https://www.amd.com/en/products/apu/amd-ryzen-7-7800x3d">AMD Ryzen&trade; 7 7800X3D</a></td>
                        <td class="field-4__table-column">AMD Radeon&trade; Graphics</td>
                        <td class="field-4__table-column">8</td>
                        <td class="field-4__table-column">16</td>
                        <td class="field-4__table-column">Up to 5.0GHz</td>
                        <td class="field-4__table-column">4.2GHz</td>
                        <td class="field-4__table-column">Not included</td>
                        <td class="field-4__table-column">2</td>
                        <td class="field-4__table-column">120W</td>
                    </tr>
                    <tr>
                        <td class="field-4__table-column"><a class="table-link link" href="https://www.amd.com/en/products/cpu/amd-ryzen-7-7700x">AMD Ryzen&trade; 7 7700X</a></td>
                        <td class="field-4__table-column">AMD Radeon&trade; Graphics</td>
                        <td class="field-4__table-column">8</td>
                        <td class="field-4__table-column">16</td>
                        <td class="field-4__table-column">Up to 5.4GHz</td>
                        <td class="field-4__table-column">4.5GHz</td>
                        <td class="field-4__table-column">Not included</td>
                        <td class="field-4__table-column">2</td>
                        <td class="field-4__table-column">105W</td>
                    </tr>
                    <tr>
                        <td class="field-4__table-column"><a class="table-link link" href="https://www.amd.com/en/products/apu/amd-ryzen-7-7700">AMD Ryzen&trade; 7 7700</a></td>
                        <td class="field-4__table-column">AMD Radeon&trade; Graphics</td>
                        <td class="field-4__table-column">8</td>
                        <td class="field-4__table-column">16</td>
                        <td class="field-4__table-column">Up to 5.3GHz</td>
                        <td class="field-4__table-column">3.8GHz</td>
                        <td class="field-4__table-column">AMD Wraith Prism</td>
                        <td class="field-4__table-column">2</td>
                        <td class="field-4__table-column">65W</td>
                    </tr>
                    <tr>
                        <td class="field-4__table-column"><a class="table-link link" href="https://www.amd.com/en/products/cpu/amd-ryzen-5-7600x">AMD Ryzen&trade; 5 7600X</a></td>
                        <td class="field-4__table-column">AMD Radeon&trade; Graphics</td>
                        <td class="field-4__table-column">6</td>
                        <td class="field-4__table-column">12</td>
                        <td class="field-4__table-column">Up to 5.3GHz</td>
                        <td class="field-4__table-column">4.7GHz</td>
                        <td class="field-4__table-column">Not included</td>
                        <td class="field-4__table-column">2</td>
                        <td class="field-4__table-column">105W</td>
                    </tr>
                    <tr>
                        <td class="field-4__table-column"><a class="table-link link" href="https://www.amd.com/en/products/apu/amd-ryzen-5-7600">AMD Ryzen&trade; 5 7600</a></td>
                        <td class="field-4__table-column">AMD Radeon&trade; Graphics</td>
                        <td class="field-4__table-column">6</td>
                        <td class="field-4__table-column">12</td>
                        <td class="field-4__table-column">Up to 5.1GHz</td>
                        <td class="field-4__table-column">3.8GHz</td>
                        <td class="field-4__table-column">AMD Wraith Stealth</td>
                        <td class="field-4__table-column">2</td>
                        <td class="field-4__table-column">65W</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
