.common-footer .top-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.common-footer .container {
    width: 100%;
    padding: 1.625rem 11.25rem;
    background-color: black;
}

.common-footer .container .col {
    display: flex;
    align-items: center;
}

.common-footer .subscribe {
    display: flex;
    flex-direction: column;
}

.common-footer .accordion {
    height: 4.4rem;
    border-bottom: 1px solid #e1e1e2;
    display: flex;
    align-items: center;
}

.common-footer .accordion__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    text-decoration: none !important;
    background: transparent;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.common-footer .accordion__icon {
    margin-left: 1.25rem;
    height: 1.25rem;
    width: 1.25rem;
}

.common-footer .social-menu {
    display: inline-flex;
    list-style-type: none;
}

.common-footer .social-menu li {
    padding: 1rem;
}

.common-footer .social-menu__link {
    height: 2.4rem;
    width: 2.4rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    transition: all 0.2s ease;
    border-radius: 4px;
}

.common-footer .social-menu__link:hover {
    background-color: #282829;
}

.common-footer .social-menu__icon {
    cursor: pointer;
    color: white;
}

.common-footer .bottom-menu {
    display: flex;
    justify-content: center;
    padding: 1.625rem 0;
}

.common-footer .bottom-menu .copyright {
    color: #9d9fa2;
    font-size: .75rem;
    line-height: 1.125rem;
}

.common-footer .subscribe__form-wrapper {
    margin: 1rem;
}

.common-footer .subscribe__form-wrapper,
.common-footer .subscribe-form,
.common-footer .subscribe-form__field,
.common-footer .subscribe-form__input {
    width: 100%;
}

.subscribe__form {
    display: flex;
    flex-flow: column nowrap;
    color: white;
}

.common-footer .subscribe-form__label {
    margin-bottom: 0.375rem
}

.common-footer .subscribe-form__label.is-required:after {
    content: '*';
    color: #ed1c24;
    padding-left: 5px;
}

.common-footer .subscribe-form__field {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 0.625rem;
}

.common-footer .subscribe-form__input,
.common-footer .subscribe-form__label {
    font-size: 1rem;
}

.common-footer .subscribe-form__input {
    border-radius: 2px;
    padding: 0.5rem 0.75rem;
    border: 1px solid transparent;
}

.common-footer .subscribe-form__input:focus {
    outline: none;
    border: 1px solid #ed1c24;
} 

.common-footer .subscribe-form__submit-btn {
    align-self: flex-start;
    border-radius: 2px;
    background: black;
    color: white;
    font-weight: 600;
    margin-top: 1.25rem;
    padding: 1rem 2.125rem;
    text-decoration: none;
    border: 2px solid white;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.common-footer .subscribe-form__submit-btn:hover {
    color: black;
    background: white;
}
